.movies-hero {
  background: url("../images/hero-whats-on.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 10rem;
  position: relative; }
  .movies-hero__content h4 {
    color: #fbbd61;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 300; }
  .movies-hero__content h1 {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin: 1.5rem 0;
    font-size: 4rem; }

.movies {
  margin-top: -13rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }
  .movies__search {
    background: #ffffff;
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;
    position: relative; }
    .movies__search input {
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 3rem;
      border: 0.1rem solid #d8d8d8;
      outline: none; }
    .movies__search i {
      position: absolute;
      color: #ec7532;
      top: 50%;
      right: 3.5rem;
      transform: translateY(-50%); }
  .movies .items {
    margin-top: 4.5rem; }
  .movies__filter h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem; }
  .movies__filter .filter {
    border: 0.1rem solid #8e8e8e;
    padding: 1.6rem; }
  .movies__filter-clear {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .movies__filter-days.filter {
    border-top: none;
    padding: 1rem 3rem; }
  .movies__filter-days-day {
    width: 100%;
    padding: 1.5rem 0;
    position: relative; }
    .movies__filter-days-day::after {
      transition: all 0.25s ease-in-out;
      background-image: linear-gradient(to right, #fbbd61, #ec7532);
      box-shadow: 0 0 5px 0 #fbbd61;
      content: "";
      position: absolute;
      height: 0.3rem;
      width: 0%;
      left: 0;
      bottom: -0.1rem; }
    .movies__filter-days-day:hover::after {
      width: 100%; }
    .movies__filter-days-day.active a {
      color: #ec7532; }
    .movies__filter-days-day.active::after {
      width: 100%; }
    .movies__filter-days-day a {
      color: #000000;
      font-size: 1.6rem; }
  .movies__items-item {
    height: 35rem;
    position: relative;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    margin: 2rem 0; }
    .movies__items-item::after {
      content: "";
      width: 0;
      height: 100%;
      transition: all 0.25s ease-in-out;
      background-image: linear-gradient(to right, #fbbd61, #ec7532);
      box-shadow: 0 0 5px 0 #fbbd61;
      position: absolute;
      top: 0;
      left: -10rem;
      z-index: 1;
      transform: skewX(30deg);
      opacity: 0.6; }
    .movies__items-item:hover {
      cursor: pointer; }
      .movies__items-item:hover .movies__items-item-img--mainImg {
        display: none; }
      .movies__items-item:hover .movies__items-item-img--subImg {
        display: block; }
      .movies__items-item:hover::after {
        width: 200%; }
      .movies__items-item:hover .movies__items-item-info {
        transform: translateY(0); }
        .movies__items-item:hover .movies__items-item-info .times {
          visibility: visible;
          opacity: 1; }
      .movies__items-item:hover .play-btn {
        visibility: visible;
        opacity: 1; }
    .movies__items-item .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 1rem 2rem;
      transform: translate(-50%, -70%);
      color: #ffffff;
      font-size: 3rem;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      border: 0.1rem solid #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      opacity: 0;
      transition: .4s ease-in-out; }
    .movies__items-item-img {
      width: 100%;
      height: 100%; }
      .movies__items-item-img img {
        width: 100%;
        vertical-align: middle;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem; }
      .movies__items-item-img--subImg {
        display: none; }
    .movies__items-item-info {
      position: absolute;
      color: #000000;
      background: #ffffff;
      width: 100%;
      bottom: -1px;
      left: 0;
      text-align: center;
      padding: 1rem 0;
      transform: translateY(50%);
      transition: 0.4s ease;
      z-index: 2; }
      .movies__items-item-info .name {
        color: #000000;
        font-size: 1.6rem; }
      .movies__items-item-info .category {
        font-size: 1.2rem;
        letter-spacing: 0.3rem; }
      .movies__items-item-info .times {
        display: flex;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: .4s ease-in-out; }
        .movies__items-item-info .times li {
          margin: 0 1rem;
          background: #dfdfdf;
          border-radius: 0.5rem;
          padding: 1rem 2rem; }
